body {
    background-color:rgb(15, 15, 15);
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}
h1 {font-size: 40px;
    }
p {
    font-size: 20px;
    letter-spacing: 1px;
}
button {background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}

p1 {color: gray;
line-height: 30px;}

img {
    width: 80%;
    height: 300px;
    border-radius: 5px;

}

a {
    text-align: left;
    padding-left: 0px;
    color: #989b67;
    text-decoration: none;
    font-family: impact;
    font-size: 30px;
    letter-spacing: 1px;
}
ul {
    list-style: square;
    text-align: left;
    padding-left: 100px;
}



.container {
    display: flex;
}

.content {
    flex: 1; /* Take up remaining space */
    /* Add your styling for other content here */
}

.video-container {
    margin-left: auto; /* Push to the right */
    /* Add any additional styling for the video container */
    border-radius: 100px;
}