body {
    background-color:rgb(15, 15, 15);
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}
h1 {font-size: 40px;
    }
p {
    font-size: 20px;
    letter-spacing: 1px;
}
button {background-color: #04AA6D;
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}

p1 {color: gray;
line-height: 30px;}



a {
    text-align: left;
    padding-left: 0px;
    color: #989b67;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}
ul {
    list-style: square;
    text-align: left;
    padding-left: 100px;
}



.container {
    display: flex;
}

.content {
    flex: 1; /* Take up remaining space */
    /* Add your styling for other content here */
}

.video-container {
    margin-left: auto; /* Push to the right */
    /* Add any additional styling for the video container */
    border-radius: 100px;
}

.reset {
    all: revert;
    text-decoration: none;
}

.box {
    width: 200px;
    height: 500;
    background-color: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
